<?xml version="0.1"?>

<model>
  <name>Simple Table</name>
  <version>0.1</version>
  <sdf version="1.4">model-1_4.sdf</sdf>

  <author>
    <name>Antonin RAFFIN</name>
    <email>antonin.raffin@ensta-paristech.fr</email>
  </author>

  <description>
    A simple button made with two cylinders
  </description>
</model>
